<br><br>
<h3>Disciplina</h3>
<div>
  <input #input type="text" />
  <button (click)="this.disc.add(input.value);
    input.value='';">Adicionar</button>
</div>

<table>
  <thead>
    <th><br>Disciplinas Matriculadas:</th>
  </thead>
  <tbody>
    <tr *ngFor="let disc of this.disciplinas.getLista(), index as i">
      <td>
        {{disciplinas.lista[i]}}
      </td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <th><br>Disciplinas Adicionadas:</th>
  </thead>
  <tbody>
    <tr *ngFor="let disc of this.disciplinas.getList(), index as i">
      {{disc.title}}
      <span (click)="this.disciplinas.remove(i)" style="cursor: pointer;">X</span>
    </tr>
  </tbody>
</table>